.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    flex-direction: column;
    height: 100vh;
}
.counter-screen{
    height: 60px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 42px;
    background-color: #42b7ff;
    color: #ffffff;
}
.counter-screen.active{
    color: red;
}
button{
    font-size: 20px;

    width: 100px;
}
